In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [4]:
df=pd.read_csv('Cleaned_Luxury_Housing_Bangalore.csv')
df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,...,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Price_per_Sqft,Quarter_Label,Booking_Status,Booking_Count,Booking_Conversion_Rate
0,PROP000001,Sarjapur Road,Project_0,Rmz,4025.0,4BHK,12.750846,Primary,NRI,2025-03-31,...,Broker,1,9.212491,18,Loved The Amenities!,31679.120594,2025Q1,Booked,1,0.494
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3BHK,16.292152,Primary,Other,2024-06-30,...,Nri Desk,0,7.723898,106,No Comments,28284.985887,2024Q2,Booked,1,0.508
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4BHK,10.517724,Primary,HNI,2023-12-31,...,Direct,1,6.985493,113,Agent Was Not Responsive.,13646.976013,2023Q4,Booked,1,0.506
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,...,Online,1,6.100929,106,Excellent Location!,15175.012103,2024Q1,Booked,1,0.497
4,PROP000005,Koramangala,Project_4,Snn Raj,7147.0,4BHK,15.345392,Secondary,HNI,2024-12-31,...,Broker,0,5.312510,18,Too Far From My Office.,21471.096187,2024Q4,Not Booked,0,0.507

Quarterly bookings across Micro-Markets

In [7]:
market_trends = (df.groupby(["Quarter_Label", "Micro_Market"])["Booking_Count"].sum().reset_index().sort_values("Quarter_Label"))
market_trends.head()

   Quarter_Label       Micro_Market  Booking_Count
0         2023Q2  Bannerghatta Road            395
15        2023Q2          Yelahanka            365
14        2023Q2         Whitefield            378
13        2023Q2      Sarjapur Road            393
12        2023Q2        Rajajinagar            382

Sum & average ticket price per builder

In [6]:
builder_performance = (df.groupby("Developer_Name")["Ticket_Price_Cr"].agg(["sum", "mean", "count"]).reset_index().rename(columns={"sum": "Total_Ticket_Sales","mean": "Avg_Ticket_Size","count": "Units_Sold"}))
builder_performance.head()

  Developer_Name  Total_Ticket_Sales  Avg_Ticket_Size  Units_Sold
0        Brigade       115829.319143        12.535641        9240
1        Embassy       114828.546149        12.530396        9164
2         Godrej       116854.073131        12.680854        9215
3     L&T Realty       117186.213731        12.703113        9225
4       Prestige       117733.813926        12.635095        9318

Correlation between Amenity Score and Booking Success

In [ ]:
amenity_impact = (
    df.groupby("Amenity_Score")["Booking_Status"]
    .mean()
    .reset_index()
    .rename(columns={"Booking_Status": "Booking_Conversion_Rate"})
)
amenity_impact.head()